html {
  height: 100%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

@media (prefers-color-scheme: dark) {
  .j-bg {
    background-color: rgb(26, 28, 30);
  }

  a {
    color: rgb(130, 163, 207);
  }

  p {
    color: rgb(199, 208, 218);
  }
}

@media (prefers-color-scheme: light) {
  .j-bg {
    background-color: rgb(252, 250, 241);
  }

  a {
    color: rgb(0, 37, 84);
  }

  p {
    color: rgb(33, 37, 41);
  }
}