img {
  max-width: 100%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  font-size: 1.5rem;
  line-height: 1.5;
}

h2 {
  font-size: 1.25rem;
}

#carouselControls {
  max-width: 600px;
}

.j-photo img {
  max-height: 470px;
}

.carousel-container {
  max-width: 470px;
}

.j-carousel-arrow {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; 
  user-select: none; 
}

/*override bootstrap breadcrumb separator*/
.breadcrumb-item + .breadcrumb-item::before {
  content: "|";
}

.j-bg {
  background-color: rgb(252, 250, 241);
}

a {
  color: rgb(0, 37, 84);
}